

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    p {
        font-size: 14px;
        line-height: 1.55;
    }
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

:root {
    --Dark-cyan:  hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    --Dark-blue: hsl(212, 21%, 14%);
    --Dark-greyish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Cream);
}

.container, button {
    font-family: "Montserrat";
}

h1, .prices {
    font-family: "Fraunces";
    line-height: 1;
    width: 60%;
}

h2 {
    font-weight: 500;
    letter-spacing: 7px;
    font-size: 14px;
    margin-bottom: 1.4rem;
}

p, del, h2 {
    color: var(--Dark-greyish-blue);
}

span {
    color: var(--Dark-cyan);
    font-size: 1.8rem;
    font-weight: 700;
}

del {
    margin-left: 1.3rem;
    font-family: "Montserrat";
}

button {
    background-color: var(--Dark-cyan);
    color: var(--White);
    padding: 1.1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    margin: 1rem 0 0rem 0;
}

button:hover {
    background-color: hsl(158, 36%, 24%);
}

button:active {
    font-weight: 800;
}

button img {
    display: inline-block;
    margin-right: 10px;
}

h1 {
    min-width: 10ch;
}

.container {
    display: flex;
    justify-content: center;
    width: max(33vw, 475px);
    border-radius: 10px;
    overflow: hidden;
}

.image-container {
    width: 50%;
     img {
        min-height: 100%;
     }
}
.text-container {
    background-color: var(--White);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attribution {
    position: fixed;
    bottom: 0; 
    margin-top: auto;
    text-align: center;
    width: 100%;
}

.prices {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.title, .button, .text, .prices {
    width: 80%;
}

.text {
    margin: 1.6rem 0 0 0;
}

.title {
    margin-top: 1.1rem;
}

.button {
    margin-bottom: 1.1rem;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: max(50%, 375px);
        height: 90vh;
    }

    .text-container {
        width: 100%;
        height: 62%;
        overflow:auto;
    }

    .image-container {
        width: 100%;
        height: 38%;
        
        img {
            width: 100%;
        }
    }

    h1 {
        min-width: 15ch;
    }
}